.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}
.backgroundImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  user-select: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);

  text-align: center;
  padding: 12px 24px;
  background: #1A120B;
  color: white;
  border-radius: 12px;
}
.modal > h1, .modal > p {
  margin-bottom: 16px;
}

.modalBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  user-select: none;
}
